@import url(reset.css);
@import url(./styles/header.css);
@import url(./styles/footer.css);
@import url(./styles/first-body.css);
@import url(./styles/second-body.css);
@import url(./styles/third-body.css);

@font-face {
    font-family: "pokemon solid";
    src: url(./fonts/Pokemon\ Solid.ttf) format("TrueType");
}


@font-face {
    font-family: "fire";
    src: url(./fonts/Pokemon\ Classic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  var(--fonte-titulo);
    color: white;
    
}
:root {
    --fundo-principal: #270033;
    --fonte-titulo: "pokemon solid", "sans-serif";
    --fonte-text: "fire", "sans-serif";
    --fundo-corpo: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(27,13,48,1) 37%, rgba(92,19,174,1) 100%);
    --background-button: #450DE0;
}

body{
    min-height: 100vh;
    background-image: var(--fundo-corpo);
}

.swiper-pagination-bullet-active {
    background: purple;
}
