@import url(reset.css);
@font-face {
    font-family: "pokemon";
    src: url(fonts/Pokemon\ Hollow.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --fundo-principal: #E093FA;
    --fonte-titulo: "pokemon", "sans-erif";
 
}


header {
    background-color: var(--fundo-principal);
}

.cabecalho__itens{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}
.cabecalho__ancora{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
}

.img__header {
    width: 2rem;
}