#venonat{
    width: 2rem;
}

.rodape {
    padding: 5rem 3rem 4rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    font-family: var(--fonte-text);
    font-size: 2rem;

}