#venonat{
    width: 2rem;
}

.rodape {
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texto{
    font-family: var(--fonte-text);
    font-size: 2rem;

}

@media  screen and (max-width: 700px) {
    .footer__texto{
        font-size: 1.3rem;
    }
    .rodape{
        padding: 2rem 1rem 2rem 1rem;
    }
    
}