
.cabecalho__itens{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.2rem 1rem;
    
}
.cabecalho__ancora{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    font-family: var(--fonte-text);
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
}

.cabecalho__ancora:hover {
    border-bottom:3px solid white;

}

.img__header {
    width: 2rem;
}


@media screen and (max-width: 700px) {
    .cabecalho {
        width: 50vw;
    }
    .cabecalho__itens{
        padding: 0.5rem 2rem 0.2rem 2rem;
    }
    .cabecalho__ancora{
        margin: 0.2rem 0.5rem;
        padding-bottom: 0.5rem;
    }
    .active{
        border-bottom: 3px solid white;
    }
    
}