.container2{
    padding: 2rem;
}

.titulo__habilidades{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
}

.card{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 250px;
    margin: 3rem 2rem;
    border-radius: 10px; 
    transition: all ease 1000ms; 
    border: 4px solid var(--background-button);  
}

.cagua:hover{
    box-shadow: 3px 3px 4px 5px  rgba(24,10,222,1);
    border: none;

}

.cterrestre:hover{
    box-shadow: 3px 3px 4px 5px rgba(131,35,3,1);
    border: none;

}

.celetrico:hover{
    box-shadow: 3px 3px 4px 5px  rgba(217,222,10,1);
        border: none;
}

.cfogo:hover{
    box-shadow: 3px 3px 4px 5px  rgba(222,10,10,1);
    border: none;

}

.container2__filho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container2__qualificacoes{
    width: 45%;
    height: 100%;
    border-radius: 9px 0 0 9px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.imagem__habilidades {
    width: 7rem;
}

.imagem__tipagens{
    width: 2rem;
    margin-top: 0.1rem;

}

.container__tipagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
    border-radius: 0 9px 9px 0;
}


.agua {
    background-image: linear-gradient(90deg, rgba(7,183,184,1) 0%, rgba(24,10,222,1) 100%);
}

.terrestre{
    background-image: linear-gradient(90deg, rgba(191,57,3,1) 0%, rgba(131,35,3,1) 100%);


}

.eletrico{
    background-image: linear-gradient(90deg, rgba(184,146,7,1) 0%, rgba(217,222,10,1) 100%);
    
}

.fogo{
    background-image:  linear-gradient(90deg, rgba(184,105,7,1) 0%, rgba(222,10,10,1) 100%);
}

.container2__qualificacoes{
    background-color: whitesmoke;
}

.card:hover {
    scale: 1.2;
}

.textoagua {
    color: blue;
}

.textoterrestre{
    color: orange;
}

.textofogo{
    color: red;
}

.textoeletrico{
    color: yellow;;
}

