.container2{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo__habilidades{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
}

.card{
    display: flex;
    background-image: var(--fundo-corpo);
    width: 200px;
    height: 200px;
    margin: 3rem 3rem;
    border-radius: 50%;
    overflow: hidden; 
    transition: all ease 1000ms; 
    border: 4px solid var(--background-button); 
    justify-content: center;
    align-items: center; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}



.imagem__tipo {
    width: 6rem;
}

.card:hover .imagem__tipo{
    display: none;
}

.card:hover {
    border-radius: 10px;
    width: 550px;
    height: 275px;
    flex-direction: row;
}

/* background dos cards */

.cagua:hover .container2__qualificacoes{
    background-image:  linear-gradient(90deg, rgba(7,183,184,1) 0%, rgba(16,76,203,1) 100%);
}

.cagua:hover .container__tipagem{
    background-image:  linear-gradient(90deg, rgba(16,76,203,1) 0%, rgba(24,10,222,1) 100%);
}

.cfogo:hover .container2__qualificacoes{
    background-image: linear-gradient(90deg, rgba(184,105,7,1) 0%, rgba(203,57,9,1) 100%);
}

.cfogo:hover .container__tipagem{
    background-image: linear-gradient(90deg, rgba(203,57,9,1) 0%, rgba(222,10,10,1) 100%);
}

.cterrestre:hover .container2__qualificacoes{
    background-image: linear-gradient(90deg, rgba(191,57,3,1) 0%, rgba(162,46,3,1) 100%);
}

.cterrestre:hover .container__tipagem{
    background-image: linear-gradient(90deg, rgba(162,46,3,1) 0%, rgba(131,35,3,1) 100%);
}

.celetrico:hover .container2__qualificacoes{
    background-image: linear-gradient(90deg, rgba(184,146,7,1) 0%, rgba(200,182,8,1) 100%);

}

.celetrico:hover .container__tipagem{
    background-image: linear-gradient(90deg,rgba(200,182,8,1) 0%, rgba(217,222,10,1) 100%);

}

.card:hover .container2__qualificacoes{
    display: block;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover .lista__de__qualificacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

.card:hover .container__tipagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cagua:hover{
    /* box-shadow: 3px 3px 4px 5px  rgba(24,10,222,1); */
    /* border: none; */

}



.cterrestre:hover{
    /* box-shadow: 3px 3px 4px 5px rgba(131,35,3,1); */
    /* border: none; */

}

.celetrico:hover{
    /* box-shadow: 3px 3px 4px 5px  rgba(217,222,10,1); */
        /* border: none; */
}

.cfogo:hover{
    /* box-shadow: 3px 3px 4px 5px  rgba(222,10,10,1); */
    /* border: none; */

}

.container2__filho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container2__qualificacoes{
    width: 45%;
    height: 100%;
    /* border-radius: 9px 0 0 9px; */
    display: none;
}

.imagem__habilidades {
    width: 7rem;
}

.imagem__tipagens{
    width: 2rem;
    margin-top: 0.5rem;

}

.container__tipagem{
    width: 55%;
    height: 100%;
    /* border-radius: 0 9px 9px 0; */
    display: none;
}


.agua {
    background-image: linear-gradient(90deg, rgba(7,183,184,1) 0%, rgba(24,10,222,1) 100%);
}

.terrestre{
    background-image: linear-gradient(90deg, rgba(191,57,3,1) 0%, rgba(131,35,3,1) 100%);


}

.eletrico{
    background-image: linear-gradient(90deg, rgba(184,146,7,1) 0%, rgba(217,222,10,1) 100%);
    
}

.fogo{
    background-image:  linear-gradient(90deg, rgba(184,105,7,1) 0%, rgba(222,10,10,1) 100%);
}

.container2__qualificacoes{
    /* background-color: whitesmoke; */
}

.card:hover {
    scale: 1.2;
}

.qualificacoes__item{
    line-height: 1.3rem;
}

.textoagua{
    margin: 0.5rem 0 0.5rem 0;
}



.lista__de__qualificacoes{
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: var(--fonte-text);
    font-size: 0.6rem;
    line-height: 1rem;
    
}

@media screen and (max-width: 700px) {

    .card:hover {
        border-radius: 10px;
        height: 475px;
        width: 275px;
        display: flex;
        flex-direction: column-reverse;
    }

    .container2__qualificacoes{
        height: 45%;
        width: 100%;
        /* border-radius: 9px 0 0 9px; */
        display: none;
    }
    .container__tipagem{
        height: 55%;
        width: 100%;
        /* border-radius: 0 9px 9px 0; */
        display: none;
    }
    .container2__filho{
        display: flex;
        flex-direction: column;
    }
    .cagua:hover .container2__qualificacoes{
        background-image:  linear-gradient(to bottom, rgba(16,76,203,1) 0%, rgba(24,10,222,1) 100%);
    }
    
    .cagua:hover .container__tipagem{
        background-image:  linear-gradient(to bottom, rgba(7,183,184,1) 0%, rgba(16,76,203,1) 100%);
    }
    
    .cfogo:hover .container2__qualificacoes{
        background-image: linear-gradient(to bottom, rgba(203,57,9,1) 0%, rgba(222,10,10,1) 100%);
    }
    
    .cfogo:hover .container__tipagem{
        background-image: linear-gradient(to bottom, rgba(184,105,7,1) 0%, rgba(203,57,9,1) 100%);
    }
    
    .cterrestre:hover .container2__qualificacoes{
        background-image: linear-gradient(to bottom, rgba(162,46,3,1) 0%, rgba(131,35,3,1) 100%);
    }
    
    .cterrestre:hover .container__tipagem{
        background-image: linear-gradient(to bottom, rgba(191,57,3,1) 0%, rgba(162,46,3,1) 100%);
    }
    
    .celetrico:hover .container2__qualificacoes{
        background-image: linear-gradient(to bottom,rgba(200,182,8,1) 0%, rgba(217,222,10,1) 100%);
        
    }
    
    .celetrico:hover .container__tipagem{
        background-image: linear-gradient(to bottom, rgba(184,146,7,1) 0%, rgba(200,182,8,1) 100%);
    
    }

    .titulo__habilidades{
        margin-bottom: 3rem;
    }
    
    

}