.carrossel {
    font-family: var(--fonte-principal);
    padding: 2rem 4rem 4rem 4rem;
    min-height: 100%;
}

.carrossel__titulo {
    font-size: 3rem;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
}


.swiper-button-prev,
.swiper-button-next {
    display: none;
}



.container__carrossel {
    padding: 2rem 5rem 6rem 5rem;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.apresentacao__projetos {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all ease 1000ms;
}


.swiper{
    padding: 0 6rem 2rem 6rem;
}

.container__projetos{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagem__projetos{
    width: 40%;
}

.swiper-pagination{
    padding: 5rem;
}
.titulo__projeto {
    color: #00B9F2;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
}


.descricao__projeto{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1.5rem;
    border-top: 2px solid #00B9F2;
}

.titulo__psiquico{
    border-top: 2px solid #8B5A9B;
}



